@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

// Colors
$color_gray: #827872;
$color_dark_gray: #A1A99A;
$color_light_gray: #CBD0BC;
$color_orange: #ffb26b;
$color_yellow: #ffd56b;
$color_green: #939b62;

$font: 'Comfortaa', cursive;

* {
    font-family: $font;
}
